*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  --blue-background: hsl(226, 43%, 10%);
  --blue-dark: hsl(235, 46%, 20%);
  --blue-primary: #007bff;
}

body {
  min-height: 100vh;
  background: var(--blue-background);
  color: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
